<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #barra{
        border: 1px black;
        margin: 0;
        padding: 0;
        list-style: circle;
        text-shadow: aqua;
        text-transform: uppercase;
        
    }

    #barra li{
        display: inline;
        margin: 0 20px;
    }
</style>
<body>
    <ul id="barra">
        <li>Home</li>
        <li>Servicios</li>
        <li>Acerca de</li>
        <li>Contacto</li>
        <li>Premium</li>
    </ul>
</body>
</html>